<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link href="/css/aboutyou.css" rel="stylesheet" type="text/css" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <title>Humble</title>
  </head>
  <body>
    <div id="backgroundImg" class="backgroundImg">
      <div class="questionDiv">
        <form method="post" action="propValue">
          <h1>Tell us about yourself</h1>
          <div class="detailsDiv">
            <h2>Full Name</h2>
            <h2>Email Address</h2>
            <h2>Phone</h2>
            <input type="text" />
            <input type="text" />
            <input type="text" />
            <h3></h3>
            <h3>Saves your agent shortlist.</h3>
            <h3>Confirms you're an actual human being!</h3>
          </div>

          <div class="buttonDiv">
            <button type="submit" class="submitBedrooms">Next Step</button>
            <button type="button">Back</button>
          </div>
        </form>
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
