<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link href="/css/comparison.css" rel="stylesheet" type="text/css" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div id="backgroundImg" class="backgroundImg">
      <nav class="navbar">
        <ul>
          <li>
            <img src="/images/humble (5).png" alt="Logo" class="logo" />
          </li>
          <li><a href="#home">Home</a></li>
          <li><a href="#home">Compare Agents</a></li>
          <li><a href="#home">Online Valuation</a></li>
          <li><a href="#home">About Us</a></li>
        </ul>
      </nav>
    </div>
    <div class="matchDiv">
      <h1>Your matches for WD3 5BB are ready!</h1>
      <h5>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s...
      </h5>
    </div>
    <div class="expireDiv">
      <h2>These quotes expire in:</h2>
      <div class="clockDiv">
        <div><h3>30</h3></div>
        <div><h3>20</h3></div>
        <div><h3>12</h3></div>
        <div><h3>39</h3></div>
        <h4>DAYS</h4>
        <h4>HOURS</h4>
        <h4>MINUTES</h4>
        <h4>SECONDS</h4>
      </div>
    </div>
    <div class="sponsoredDiv">
      <h2>Sponsored</h2>
      <div class="detailsDiv">
        <div class="col1">col1</div>
        <div class="col2">col2</div>
        <div class="col3">col3</div>
        <div class="col4">col4</div>
        <div class="col5">col5</div>
      </div>
      <h3>
        It is a long established fact that a reader will be distracted by the
        readable content of a page when looking at its layout. The point of
        using Lorem Ipsum is that it has a more-or-less normal distribution of
        letters, as opposed to using 'Content here, content here', making it
        look like readable English. Many desktop publishing packages and web
        page editors now use Lorem Ipsum
      </h3>
      <h2>Ms H Aloui - W12</h2>
    </div>
    <div class="headingDiv">
      <h2>Your shortlisted agents</h2>
      <h4>Sort by...</h4>
      <div><h2>A-Z</h2>
      <h2>Lowest fee</h2>
      <h2>Fastest response rate</h2>
      <h2>Best reviewed</h2>
      <h2>Fastest sale time</h2>
      <h2>Most properties listed</h2>
    </div>

    <script src="/js/script.js"></script>
  </body>
</html>
