<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link href="/css/style.css" rel="stylesheet" type="text/css" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <div id="backgroundImg" class="backgroundImg">
      <nav class="navbar">
        <ul>
          <li>
            <img src="/images/humble (5).png" alt="Logo" class="logo" />
          </li>
          <li><a href="#home">Home</a></li>
          <li><a href="#home">Compare Agents</a></li>
          <li><a href="#home">Online Valuation</a></li>
          <li><a href="#home">About Us</a></li>
        </ul>
      </nav>
      <section class="formDiv">
        <div><h3>#Find the best agent</h3></div>
        <h2>Compare Estate & Letting Agents</h2>
        <h4>
          Lorem Ipsum is simply dummy text of the printing and typesetting
          industry. Lorem Ipsum has been the industry's standard dummy text ever
          since the 1500s...
        </h4>
        <ul>
          <li>
            <img src="/images/check_mark.png" alt="" class="" />
            <h5>Data-driven recommendations</h5>
          </li>
          <li>
            <img src="/images/check_mark.png" alt="" class="" />
            <h5>No obligation</h5>
          </li>
          <li>
            <img src="/images/check_mark.png" alt="" class="" />
            <h5>Fast & easy</h5>
          </li>
        </ul>
        <form method="post" action="bedrooms">
          <input
            type="text"
            name="postcode"
            placeholder="Enter your postcode"
            id="postcode"
          />
          <div id="suggestions"></div>
          <button type="submit">Compare Agents</button>
        </form>
      </section>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
