<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link href="/css/questions.css" rel="stylesheet" type="text/css" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <title>Humble</title>
  </head>
  <body>
    <div id="backgroundImg" class="backgroundImg">
      <div class="questionDiv shortDiv">
        <form method="post" action="timing">
          <h1>How much do you think your property is worth?</h1>
          <h3>A rough estimate is all we need.</h3>
          <div class="propValueRange">
            <p id="propValuePar">Around: <span id="propValueValue"></span></p>
            <input
              type="range"
              min="100000"
              max="1000000"
              value="500000"
              class="propValueSlider"
              id="valueSlider"
            />
          </div>
          <div class="buttonDiv">
            <button type="submit" class="submitBedrooms">Next Step</button>
            <button type="button">Back</button>
          </div>
        </form>
      </div>
    </div>
    <script>
      const slider = document.getElementById("valueSlider");
      const output = document.getElementById("propValueValue");
      const movePar = document.getElementById("propValuePar");
      output.innerHTML = slider.value;

      slider.oninput = function () {
        output.innerHTML = this.value;
      };

      slider.addEventListener("input", function () {
        const value = slider.value;
        const sliderWidth = slider.clientWidth;
        const newPosition = (value / slider.max) * sliderWidth;

        movePar.style.left = `${newPosition + 50}px`;
      });
    </script>
    <script src="/js/script.js"></script>
  </body>
</html>
