<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Manrope:wght@200..800&display=swap"
      rel="stylesheet"
    />
    <link href="/css/questions.css" rel="stylesheet" type="text/css" />
    <script
      src="https://code.jquery.com/jquery-3.7.1.min.js"
      integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo="
      crossorigin="anonymous"
    ></script>
    <title>Humble</title>
  </head>
  <body>
    <div id="backgroundImg" class="backgroundImg">
      <div class="questionDiv">
        <form method="post" action="aboutyou">
          <h1>When do you want to appoint an agent?</h1>
          <h3>Almost there</h3>
          <div class="selectDiv">
            <input type="radio" name="bedrooms" value="1" id="one-bedroom" />
            <label for="one-bedroom"><h4>Now</h4></label>
          </div>
          <div class="selectDiv">
            <input type="radio" name="bedrooms" value="2" id="two-bedrooms" />
            <label for="two-bedrooms"><h4>3 - 6 Months</h4></label>
          </div>
          <div class="selectDiv">
            <input type="radio" name="bedrooms" value="3" id="three-bedrooms" />
            <label for="three-bedrooms"><h4>I already have one</h4></label>
          </div>
          <div class="selectDiv">
            <input type="radio" name="bedrooms" value="4" id="four-bedrooms" />
            <label for="four-bedrooms"><h4>I'm not selling</h4></label>
          </div>
          <div class="buttonDiv">
            <button type="submit" class="submitBedrooms">Next Step</button>
            <button type="button">Back</button>
          </div>
        </form>
      </div>
    </div>
    <script src="/js/script.js"></script>
  </body>
</html>
