body {
  border: solid 5px #ffffff;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
  background-color: #f8f9ff;
}

.backgroundImg {
  position: relative;
  background-image: url("/images/Hero.png");
  width: 97vw;
  background-size: cover;
  height: 760px;
}

.questionDiv {
  background-color: #ffffff;
  color: #242e49;
  position: absolute;
  left: 200px;
  top: 100px;
  width: 550px;
  height: 550px;
  border-radius: 10px;
  justify-items: center;
}

.questionDiv h1 {
  font-size: 28px;
  font-weight: 700;
  width: 450px;
  text-align: center;
}

.questionDiv h3 {
  font-size: 12px;
  font-weight: 300;
  width: 450px;
  text-align: center;
}

.detailsDiv {
  width: 200px;
  display: grid;
  grid-template-columns: 170px 170px 170px;
  grid-template-rows: 1fr 1fr 1fr;
}

.detailsDiv input {
  background-color: #f6f8f9;
  width: 150px;
  height: 40px;
  border: none;
  border-radius: 10px;
}

.detailsDiv h2 {
  font-size: 14px;
  font-weight: 600;
  padding-left: 5px;
  height: 14px;
  margin-bottom: 0px;
}

.buttonDiv button {
  background-color: #41c8c8;
  background: linear-gradient(to left, #2ec8b9, #489cdd);
  width: 220px;
  height: 40px;
  border-radius: 10px;
  margin: 10px;
  margin-top: 20px;
  border: none;
}
