body {
  border: solid 5px #ffffff;
  font-family: "Manrope", sans-serif;
  color: #ffffff;
  background-color: #f8f9ff;
}

.backgroundImg {
  position: relative;
  background-image: url("/images/hero_comparison.png");
  background-size: cover;
  width: 98vw;
  height: 499px;
}

.navbar {
  position: absolute;
  top: 20px;
  margin-left: 15%;
  padding: 0px;
  border-radius: 10px;
  width: 70%;
  height: 100px;
  background-color: #ffffff;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  gap: 0px;
  list-style-type: none;
  align-content: space-around;
  text-decoration: none;
  margin: 0px;
  justify-content: space-between;
  margin-top: 35px;
}

.navbar ul li a {
  text-decoration: none;
  font-size: 20px;
  color: black;
}

.navbar img {
  width: 100px;
  margin: 0px;
  padding: 0px;
  margin-top: -35px;
}

.matchDiv {
  position: absolute;
  top: 160px;
  left: 220px;
  width: 450px;
}

.matchDiv h5 {
  font-size: 14px;
  font-weight: 300;
}

.expireDiv {
  background-color: #ffffff;
  border-radius: 10px;
  position: absolute;
  color: black;
  text-align: center;
  top: 160px;
  right: 220px;
  width: 450px;
  height: 200px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.3);
}

.expireDiv h2 {
  color: black;
  font-size: 20px;
  font-weight: 400;
}

.clockDiv {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 80px 20px;
  justify-items: center;
}

.clockDiv div {
  background-color: #29a0c5;
  width: 80px;
  height: 80px;
  border-radius: 5px;
}

.clockDiv h3 {
  color: #ffffff;
  font-size: 48px;
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 0px;
}

.clockDiv h4 {
  margin-top: 15px;
  color: black;
  font-size: 16px;
  font-weight: 400;
}

.sponsoredDiv {
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  border-radius: 10px;
  background-color: aquamarine;
}

.sponsoredDiv h2 {
  text-align: center;
  color: #242e49;
}

.detailsDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col1 {
  display: flex;
  flex-direction: column;
}
